table img {
  display: inline-block;
  width: 100%; }

#login-btn {
  float: right; }

#send-pass-btn {
  padding-left: 0px;
  padding-right: 0px; }

.content {
  padding-top: 20px; }
  .content .panel {
    position: absolute;
    width: calc(100vw - 24px);
    left: 12px; }
    .content .panel .panel-heading {
      text-align: center; }
    .content .panel .panel-body {
      text-align: center;
      height: 50vh;
      max-height: calc(100vh - 125px);
      overflow-y: auto; }
      .content .panel .panel-body .user-question {
        margin-bottom: 30px; }
    .content .panel .panel-footer .view {
      float: right; }
    .content .panel .panel-footer .answer {
      margin: 0 auto;
      display: block; }

.view-estate .modal-dialog .modal-content .modal-header {
  text-align: center; }

.view-estate .modal-dialog .modal-content .modal-body {
  height: 50vh;
  max-height: calc(100vh - 125px);
  overflow-y: auto; }
  .view-estate .modal-dialog .modal-content .modal-body img {
    width: calc(50% - 10px);
    margin-bottom: 5px; }
    .view-estate .modal-dialog .modal-content .modal-body img:nth-child(2n) {
      margin-left: 5px; }

.view-estate .modal-dialog .modal-content .modal-footer .back {
  float: left; }

.loaderContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none; }

.loader {
  margin: 42vh auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
